@charset "utf-8";
/* CSS Document */

/*Module Style
name:module-style1
prefix:module-XXXX
*/
/*
Module name:			eg. Latest News,Banner.... 
Position:				eg. top-user1,left,right....
*/
.module-style1{												}
.module-style1 div{											}
.module-style1 div div{										}
.module-style1 div div div{									}
.module-style1 div div div div{								}
.module-style1 h3{											}
.module-style1 a{											}
.module-style1 a:hover{										}


/*
****************************************************
Error Message*/


.moduletable{ padding:0px; margin:0px;}

dl#system-message{
	border-top:1px dotted #cccccc;
	border-bottom:1px dotted #cccccc;
/*	background:url(../images/warning_icon.png) no-repeat 0 50%;*/
	min-height:54px;
	padding-top:10px;
	margin-bottom:15px;
}
dl#system-message ul,dl#system-message ul li{
	float:none;
}
dt.error{
	font-weight:bold;
	color:#cc0000;
	font-size:1.3em;
}
dd.error{
	color:#999999;
	font-style:italic;
}
/*Error Message*/

/*Joomla Stuffs*/
p.buttonheading{ height:auto; overflow:hidden;}
.componentheading, .contentheading{font-size: 140%; margin:0; line-height: 100%; margin-bottom:18px; color:#9e5e00; margin-bottom:16px; font-weight: normal;}


.contentdescription{
	padding-bottom:10px;
}
.contentdescription img{
	padding:10px;
}
.createdate,.modifydate,.small{
	font-size:0.8em;
	color:#999;
}
.createdate,.modifydate,.nomenber{color:#067EBC;}
.contentpaneopen .searchCon{ padding:5px 13px;}

.createdate,.modifydate{
	padding-bottom:5px;
}
.contentpane ul li{
}
.sectiontableheader{
	padding:5px 0px 5px 4px;
	color:#8a0917;
	border-bottom:1px dotted #fed2d3;
}
.sectiontableheader td, .sectiontableheader th{
	text-align:left;
}
.sectiontableheader th.borderside, .sectiontableheader td.borderside{
	text-align:right;
}
#agreed_field{ border:none;}
.sectiontableentry1 td,.sectiontableentry2 td{
	padding-left:4px;
	padding-top:3px;
	padding-bottom:2px;
}
.sectiontableentry1 img,.sectiontableentry2 img,.sectiontableheader img{
	vertical-align:middle;
}
.pagenavbar{
	text-align:center;
	padding:5px 0px;
	border-top:1px dotted #fed2d3;
	border-bottom:1px dotted #fed2d3;
}
.contenttoc{
	width:20%;
	border:1px solid #fed2d3;
	float:left;
	margin-right:10px;
	margin-bottom:0px;
}
.contenttoc td{
	padding-left:10px;
	padding-bottom:3px;
}
.contenttoc th{
	background-color:#de787e;
	color:#fff;
}
.pagenavcounter{
	color:#005f59;
	padding:5px 0px;
	font-weight:bold;
	color:#920728;
	margin-bottom:10px;
}
/* Joomla Stuffs*/

/* edit button */
.contentpaneopen_edit{
float: right;
background:#fff;
}

.contentpaneopen_edit img
{	border:0
}

form#com_login_form td{
	padding-bottom:7px;
	padding-right:5px;
}


form.editor legend {
font-size:14px;
font-weight:bold;
padding:2px;
color:#408DA7;
}

form.editor fieldset {
border:solid 1px #ccc;
padding:15px;
margin:10px 0;
*margin:-10px 0;
}



form.editor .radio span, form.editor .publishing label {
font-size:11px;
float:left;
width:14em;
}

form.editor .publishing div {
margin:5px 0;
}

form.editor .publishing .radio label {
float:none;
width:14em;
}

form.editor .publishing .radio label span {
float:left;
width:14em;
}

form.editor fieldset.metadata label {
float:none !important;
display:block;
}

.save {
text-align:left;
padding:10px 0px 0px 33px;

}

.save button{ margin-right:10px; cursor:pointer;background:#7fd3ee url(../images/botton_bg.jpg) repeat-x top center; border:#4facc9 solid 1px; color:#fff; height:20px; line-height:18px; +line-height:16px; font-family:Verdana, Geneva, sans-serif; font-size:12px;}
/* user */
form.user {
margin:10px 0;
}

form#searchForm td{ padding:6px 4px 6px 0;}

form.user label {
width:40%;
float:left;
}

/* article index */
table.contenttoc {
border:solid 1px #ccc;
padding:10px;
margin:10px;
}

.pagenavcounter {
font-weight:bold;
}

.moduletable_right{ margin-bottom:10px; background:#EAEAEA;}
.moduletable_right h3{ margin:0px; min-height:26px!important; height:auto!important; height:26px; line-height:26px; color:#fff; font-size:120%; font-weight:bold; background:#868686 url(../images/bg_title1.jpg) repeat-x left top; padding-left:21px;}
.membership{ background:url(../images/img_member.jpg) no-repeat 143px bottom; min-height:95px!important; height:auto!important; height:95px; padding:0px 21px;}
.membership p{ margin-bottom:10px; line-height:140%;}
a.button{background:url(../images/bt_r.jpg) no-repeat right top; display:inline-block;text-decoration:none;}
a.button span{ background:url(../images/bt_l.jpg) no-repeat left top; height:21px; line-height:21px;  padding:0px 15px 0px 15px; color:#fff; text-decoration:none; display:inline-block; cursor:pointer;}
a.button1{background:url(../images/bt_r1.jpg) no-repeat right top; display:inline-block;text-decoration:none;}
a.button1 span{ background:url(../images/bt_l1.jpg) no-repeat left top; height:21px; line-height:21px;  padding:0px 15px 0px 15px; color:#fff; text-decoration:none; display:inline-block; cursor:pointer;}


.social{padding:10px 21px 12px 21px;}
.social p{ margin-bottom:8px; line-height:140%;}


.moduletable_bottom{ background:#F4F4F4;}
.moduletable_bottom h3{ color:#333132; margin:0px; min-height:26px!important; height:auto!important; height:26px; line-height:26px;  font-size:120%; font-weight:bold; background:#868686 url(../images/bg_title.jpg) repeat-x left top;padding-left:23px; }
.modulebox{ float:left; width:226px;}



.modulebox{ background:url(../images/box_arrow.jpg) no-repeat 18px top;  margin:0px; line-height:0px; padding-top:8px;}
.module{ background:#F1F1F1; width:100%; top:8px;}
.module_t_l,.module_t_r,.module_b_l,.module_b_r{}
.module_t_l{ background:url(../images/box_t_l.jpg) no-repeat left top; }
.module_t_r{ background:url(../images/box_t_r.jpg) no-repeat right top; }
.module_b_l{ background:url(../images/box_b_l.jpg) no-repeat left bottom;}
.module_b_r{ background:url(../images/box_b_r.jpg) no-repeat right bottom}
.moduleCon{ padding:8px 5px 8px 15px;}
.moduleCon p{ margin-bottom:7px; color:#505050;}
.moduleCon h3{margin-bottom:8px;}
.newsImg{float:left; padding-right:10px; padding-top:5px;}
.newsImg img{border:1px solid #fff; width:51px;}
.newsCon{ float:left; width:145px;}

.moduletable_right .modulebox{ margin-bottom:22px;}
.moduletable_right  .newsCon{float:left; width:190px;}

#searchBox form.search{padding-left:26px;}
#searchBox form.search span{padding-right:5px; vertical-align:middle;} 
table.contentpaneopen fieldset{padding-bottom:15px;}
form#searchForm td h2{ margin:18px 0px 0px 0px;}

#main-container ul.pagination { margin:0; padding:0; }
#main-container ul.pagination li { float:left; margin:0 0 0 2px; padding:0; list-style:none;}

.ucd_title a:link,.ucd_title a:visited,.ucd_title a:hover{color:#505050; font-weight:bold; text-decoration:none;}
.ucd_title a:hover{ color:##067EBC;}

a.details-link:link, a.details-link:visited, a.details-link:hover {
background:url("../images/hotitem_sorrow.jpg") no-repeat scroll left center transparent;
color:#3DB6D1;
padding-left:10px;
text-decoration:underline;
}
a.details-link:hover{
color:#FFAE01;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	.ly1 .moduletable {
		font-size:0.6em
	}
}	