@charset "utf-8";
/* CSS Document */

/* Font Family Settings ------ */
body{font-family: Georgia, Arial, "Times New Roman", Times, serif; color:#65625e; margin:0px;font-size:75%;}

/* Firefox Scrollbar Hack - Do not remove */
html {  height: 100%!important; height: auto;;overflow-y: scroll;}

/* Font Style Setting-----------*/
.f_bold{ font-weight:bold;	}
.f_italic{ font-style:italic;}
.f_red{	   color:#B40202;}
.f_white{  color:#fff;}
.f_orange{ color:#fe7800;}
.f_purple{ color:#72478F;}
.f_black{  color:#000;}
.f_blue{   color:#008BCC;}
.f_gray{   color:#535659;}

/* Core Formatting ------ */
td,tr,div,p{ line-height:160%;padding:0px;margin:0px;font-size:101%;}
p { margin:0px 0px 16px 0px;}
h1, h2, h3, h4, h5, h6 { padding:0px; margin:0px;font-weight:normal; color:#E7732D;}
h1 {font-size: 280%; line-height: 100%; margin-bottom:16px; color: #9e5e00; font-weight: normal;}
h2 {font-size: 130%; line-height: 160%; margin-bottom:16px; color:#9e5e00;}
h3 {font-size: 125%; line-height: 160%; margin-bottom:16px; color:#9e5e00;}
h4 {font-size: 120%; line-height: 160%; margin-bottom:16px; color:#9e5e00;}
h5 {font-size: 110%; line-height: 160%; margin-bottom:16px; color:#9e5e00;}
h6 {font-size: 100%; line-height: 160%; margin-bottom:16px; color:#9e5e00;}

.a_left{ text-align:left;}
.a_right{ text-align:right;}
.v_middle{ vertical-align:middle;}
.float_l{ float:left;}
.float_r{ float:right;}

/* List Style ------ */

ul,ul li, ol,ol li{margin:0px; padding:0px;}
#page ul li{ list-style:disc;  margin:0px 0px 0px 18px; padding:0px 0px 0px 0px; *margin:0px 0px 0px 25px;  line-height:160%;}
#page ol li{ list-style:decimal; margin:0px 0px 0px 18px;padding:0px 0px 0px 0px;*margin:0px 0px 0px 25px;  line-height:160%;}
#page ul, #page ol{ margin-bottom:16px;}
#page ul a{ text-decoration:underline;}
.pic-border{ border:#ececec solid 6px;}

.pic-right{ float:right; margin-left:18px; margin-top:45px; margin-bottom:20px;}

.pdf-table{
	border-top:#CCC solid 1px;
	width:45%;
	border-left:#CCC solid 1px;
}
.pdf-table th{
	font-weight:bold;
	background:#CCC;
}
.pdf-table th,
.pdf-table td{
	padding:5px;
	border-bottom:#CCC solid 1px;
	border-right:#CCC solid 1px;
}

/* Link Style ------ */

a, a:link, a:visited, a:hover {color:#0b2869; text-decoration:  none; font-weight: normal;}
a:hover {color:#0072b4;}

/* Button from Formatting */
.inf_form_contact{float: right;  margin: 0; padding: 10px;}
.ct-google-map{margin-top: 20px;}
input, select, textarea{ padding-left:2px; color:#666666; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.inf_form_contact .validation{width:59px;}
input.inputbox{ border:#c5c5c5 1px solid; background:#FFF; padding-left:2px; width:233px; height:17px; font-size:100%; vertical-align:middle; line-height:18px;}
input.button, button.button{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; padding:0px 8px 3px 8px; *padding:0px 10px 4px 10px; border:#CCC solid 1px; color:#65625E; height:24px; line-height:18px; *line-height:14px;  cursor:pointer;overflow:visible; font-size:12px; vertical-align:middle;}
textarea.inputbox{ border:1px solid #ddd;font-size:100%;  vertical-align:middle; padding:3px; width:230px;height: 60px;}
select.inputbox{ height:auto; border:1px solid #bad8e2; font-size:100%; padding:3px; margin:0; }


table.contact-table td,
table.contact-table th{
	padding:5px 5px 5px 0;
	vertical-align:top;
	text-align:left;
}
table.contact-table td td,
table.contact-table th td{
	padding:0;
	width:50%;
}
table.contact-table th{
	color:#9e5e00;
}
/* Main Page Structure ------ */
.home .layout{ background:url(../images/footer-rp-bg.png) repeat-x center bottom;}
.wrapper{ width:1040px; margin:0px auto;  padding-top:25px;background:#FFF url(../images/inner-body-bg.png) repeat-x center top;}
.home .bg{ background:url(../images/footer-bg.png) no-repeat center bottom; width:954px;}
.layout{background: #cacaca;}
.print-layout { padding:10px; }
.printbutton { height:18px;}
.printbutton a { background:url(../../../images/M_images/printButton.png) no-repeat; display:block; width:16px; height:16px; position:absolute; right:0px }
/* Main Header ------ */
.header{}
.logo{ float:left; margin:0px 0 21px 6px; width:175px; height:32px;}
.top_slogan{ float:right; width:500px; text-align:right; color:#84807c; font-size:105%; margin-right:5px;}
.top_slogan p{ margin:0; line-height:140%;}
/* Main Body Items ------ */

.banner{}   
.banner p{ margin:0;}
#inner .banner{ background:#FFF;}
#home .Mod_Breadcrumbs{ display:none;}
.Mod_Breadcrumbs{ padding:20px 0 6px 0; border-bottom:#eeebe0 solid 1px; display:block; width:100%; line-height:100%;}
.Mod_Breadcrumbs a,.Mod_Breadcrumbs span{ font-size:95%; color:#c0b3a0;}
.Mod_Breadcrumbs .breadcrumbs a:link,
.Mod_Breadcrumbs .breadcrumbs a:visited,
.Mod_Breadcrumbs .breadcrumbs a:hover{ color:#65625e;}
.Mod_Breadcrumbs .breadcrumbs a:hover{ color:#720007;}
/* Main Left Col  */
/* Main Middle Col  */
/* Main Right Col ------ */

/* Inner Main Col ------ */

.container{ padding:30px 0 29px 0; min-height:180px !important; height:auto !important; height:180px;}
/* Bottom Right Col ------ */

.footer{ color:#c0b3a0; padding:5px 13px; color: #fff; background: #313861; bottom left; margin:0 auto;}
.footer .wrapper{ padding:0;}
.copyright{font-size:95%; line-height:100%;}

/* Footer Structure */


/* right menu */

table.list-left,
table.list-right{ width:470px; float:left; border-top:#CCC solid 1px; border-left:#CCC solid 1px;}
table.list-right{ float:right;}
table.list-left th,table.list-left td,
table.list-right td,table.list-right th{ padding:5px; border-right:#CCC solid 1px; border-bottom:#CCC solid 1px;}
table.list-left td,table.list-right td{ }
table.list-left th,table.list-right th{color:#9e5e00;}
/* @end */

/* VM */
#page .allcategories h2 a:hover {
	color:#F08405;
}

#page .showtip {
    border:1px #dadadd solid;
    font-size:14px;
    color:#65625E;
    padding:3px;
}

#page .tip_title {
    color:#9e5e00;
    font-weight:bold;
    padding-bottom:5px;
}

#corporate_office {
    margin-left:-8px\9;
    margin-left:-18px;
}

#bangladesh {
    margin-left:-14px\9;
    margin-left:-18px;
}

#thailand {
    margin-left:-8px\9;
    margin-left:-12px;
}

#sri_lanka {
    margin-left:-16px;
}
