@charset "utf-8";

/* Main Menu Style */
.top_menu{ float:right; padding-right:25px; margin-bottom:35px;}
.top_menu ul,
.top_menu ul li{ padding:0; margin:0; list-style:none;}
.top_menu ul li{ background:url(../images/top-menu-line.gif) no-repeat right center; padding-right:17px; margin-right:14px; float:left;}
.top_menu ul li a:link,
.top_menu ul li a:visited,
.top_menu ul li a:hover{ color:#0a2769; font-size:100%; line-height:100%; text-decoration:none; float:left;}

.top_menu ul li a:hover,
.top_menu ul li.active a{ color:#0072b4;}

.top_menu ul li.item4{ margin:0; padding:0; background:none;}

/* Footer Menu Style */
.footer-menu ul,
.footer-menu ul li{ padding:0; margin:0; list-style:none;}

.footer-menu ul li{ float:left; background:url(../images/top-menu-line.gif) no-repeat left center; padding-left:11px; margin-left:13px;}

.footer-menu ul li a span,
.footer-menu ul li a:link,
.footer-menu ul li a:visited,
.footer-menu ul li a:hover{ float:left; color:#FFF; text-decoration:underline; line-height:100%; display:inline-block;}

.footer-menu ul li a:hover,.footer-menu ul li a:hover span,.footer-menu ul li.active a span{ color:#64b2de;}