
@charset "utf-8";
/* CSS Document */

/* frame */
span{
	padding: 8px!important;
}
.infbanners { height:300px; width:1040px; position:relative; }

/* banners */
.infbanners .banners           { height:300px!important; overflow:hidden; }
.infbanners .banner            { background-position:left top; background-repeat:no-repeat; height:398px; width:1040px; }
.infbanners .banner .text      { position:absolute; }
.infbanners .banner .text h3   { color:#135CAE; font-size:16px; font-weight:normal; line-height:16px; margin:0; padding:10px 10px 5px 10px; }
.infbanners .banner .text h3 a { color:#135CAE; font-size:16px; }
.infbanners .banner .text p    { color:#135CAE; padding:0 10px 5px 10px; }

/* index balls */
.infbanners .balls { width:99%; position:absolute; top:200px; z-index:10; text-align:right; padding-right:10px; }
.infbanners .balls ul          {  }
.infbanners .balls ul li        { display:inline-block; }
.infbanners .balls ul li a         { background:url('/images/ball_blue.png') left top no-repeat; display:block; float:left; height:10px; margin-left:4px; outline:none; width:10px; }
.infbanners .balls ul li a.selected  { background-image:url('/images/ball_orange.png'); }

/* buttons */
.infbanners .button            { position:absolute; top:100px; z-index:2; }
.infbanners .button a          { background:left top no-repeat; display:block; height:53px; outline:none; width:44px; }
.infbanners .button.previous   { left:-22px; }
.infbanners .button.previous a { background-image:url(/images/btn_pre.png); }
.infbanners .button.next       { right:348px; }
.infbanners .button.next a     { background-image:url(/images/btn_next.png); }

.mainmenu				{ padding-top:5px;    border-top: 2px solid #dc962e;
    border-bottom: 1px solid #fff; background-color: #dc962e; padding-bottom:1px; margin:0 auto; height:45px; position:relative; z-index:999;}
/* level 1 */
#inf_menu_main ul                  { margin:0; padding:0; z-index:100; }
#inf_menu_main li                  { float:left; height:auto; list-style:none; margin:0; padding:0; position:relative; background:url(../../../../templates/Weconnor_Home/images/menu-line.png) no-repeat right center; padding-right:3px; margin-right:40px;}
#inf_menu_main li.last				{ background:none; padding:0; margin:0;}
#inf_menu_main li > a                { display:block; float:left; padding:0; text-decoration:none; padding-left:5px;}
#inf_menu_main li > a span           { color:#FFF; cursor:pointer; display:block; border-radius: 15px; font-size:16px; font-weight:normal; line-height:100%; padding:6px 20px 6px 20px; text-align:left;}
#inf_menu_main li.last > a span		{}
#inf_menu_main li:hover > a,
#inf_menu_main li > a:hover,
#inf_menu_main li.active > a,
/*#inf_menu_main li.current > a	{ background: #000d54; border-radius: 5px; }*/


#inf_menu_main li:hover > a span   { color:#FFF;  border-radius: 15px; background: #000d54; } /* highlight mouseover item & ancestors of mouseover item */
#inf_menu_main li.active > a span  { color:#FFF;  background: #000d54; border-radius: 15px;} /* highlight active items */
#inf_menu_main li.current > a span { color:#FFF;  background: #000d54; border-radius: 15px;} /* highlight current item */

/* level 2 */
.mainmenu #inf_menu_main li ul         { display:none; left:0; position:absolute; top:30px; width:207px; padding-top:4px!important; z-index:99;}
.mainmenu #inf_menu_main li.first ul	 { left:4px;}
.mainmenu #inf_menu_main li:hover > ul { display:block; } /* show sub menu of mouseover item */
.mainmenu #inf_menu_main li li         { float:left; background:none; padding:0; margin:0;}
.mainmenu #inf_menu_main li li a       { float:left; background:none; padding:0;}
.mainmenu #inf_menu_main li li a span  { height:auto;  margin:1px;white-space:normal; width:192px; background:#000d54c9; padding:6px 0 6px 15px;}
.mainmenu #inf_menu_main li.active li.current a span,
.mainmenu #inf_menu_main li li a:hover span{ color:#FFF; background:#000d54c9;}
/* level 3 */
#inf_menu_main li:hover li ul { left:174px; top:0; } /* left = width of parent */
#inf_menu_main li li li		 { border-bottom:#334979 solid 1px;}